# 네이버 코딩 컨벤션: 탭 들여쓰기, LF, UTF-8, 120자
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.java]
indent_style = tab
indent_size = 4
max_line_length = 120

[*.{gradle,xml}]
indent_style = tab
indent_size = 4

[*.{yml,yaml,json,md,sql}]
indent_style = space
indent_size = 2

[*.sql]
indent_size = 4
